{
  "root": true,
  "ignorePatterns": ["projects/**/*"],
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": ["@typescript-eslint", "unused-imports"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          { 
            "vars": "all", 
            "varsIgnorePattern": "^_", 
            "args": "after-used", 
            "argsIgnorePattern": "^_" 
          }
        ]
      }
    }
  ]
}